*, html {
  box-sizing: border-box;
}

.itemHolder {
  display: flex;
}

.item {
  width: 200px;
  height: 200px;
  border: red 5px solid;
}

/* The img was covering the z-index, so this will do... */
.item img,
.item h2 {
  pointer-events: none; /* Disable mouse events on the image */
}

.completed {
  border: green 5px solid;
}

img {
  width: 100%;
  height: auto;
}